/* homePage.css */

/* Flexbox layout to ensure alignment */
.home-page-container {
  height: 100vh;
  padding: 20px;
}

/* Adjust layout for small screens (mobile) */
@media (max-width: 768px) {
  .home-page-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }

}

/* Containers */
.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Button styling */
.button-resume {
  background-color: #007bff;
  color: white;
  margin: 5% 5%;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
h1{
  margin: 0!important;
  padding: 0;
}

.button-resume:hover {
  background-color: #0056b3;
}

/* Social media icons */
.social-media-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.social-media-container img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.2s;
}

.social-media-container img:hover {
  transform: scale(1.2);
}

p{
  text-align: justify;
}