/* homePage.css */

/* Flexbox layout to ensure alignment */
.blog-card-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
}

.card {
  display: inline-block;
  padding: 32px;
  float: left;

  .card-body {
    white-space: normal;
  }
}

.card-body {
  margin-left: 32px;
}

img {
  float: left;
  width: 350px;
  height: 200px;
  margin-right: 32px;
}