.home-page-container {
  position: absolute;
  padding-left: 32px;
  padding-top: 32px;
}

.left-container {
  width: 40%;
  display: inline-block;
}
.left-container img {
  width: 90%;
  height: auto;
}

.right-container {
  float: right;
  width: 58%;
  padding-right: 32px;
}

.social-media-container{

}
.social-media-container img{
  width: 64px;
  height: auto;
}
.button-resume{
  margin: 16px;
}

.col-center{
  margin:0 auto;
}