.card {
    display: inline-block;
    padding: 32px;
    float: left;
    .card-body {
        white-space: normal;
    }
  }
  .card-body{
      margin-left: 32px;
  }
  img{
    float:left;
    width: 350px;   
    margin-right: 32px;
  }